
# Created by https://www.gitignore.io/api/vuejs
# Edit at https://www.gitignore.io/?templates=vuejs

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
test/output/
dist/
npm-debug.log
package-lock.json
yarn-error.log
src/config/env
migrations
core.*
.DS_Store
logs

# End of https://www.gitignore.io/api/vuejs